doctype html
html
  head
    title OpenEyes demonstrator:
      | #{title}
    link(rel='stylesheet', href='/bower_components/foundation/css/normalize.css')
    link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/bower_components/foundation/js/vendor/modernizr.js', type='text/javascript')
  body
    nav.top-bar(data-topbar='', role='navigation')
      ul.title-area
        li.name
          h1
            a(href='/') ACROSS Health Limited
      section.top-bar-section
        ul.right
          li
            a(href='/') Home
          li
            a(href='/patients') Patients
    .row.main
      .small-12.columns
        block content
    block bottom_javascript