<div ng-show="event.visualAcuity">
  <div class="examination-section">Visual Acuity</div>
    <div class="row">
      <div class="small-6 columns">
        <div class="panel">
          <div class="row" ng-repeat="(key, entry) in event.visualAcuity.entries">
            <div class="small-3 columns">
              <select ng-model="entry.left_eye.value">
                <option value="">--</option>
                <option value="6/3">6/3</option>
                <option value="6/4">6/4</option>
                <option value="6/5">6/5</option>
                <option value="6/6">6/6</option>
                <option value="6/9">6/9</option>
                <option value="6/12">6/12</option>
                <option value="6/18">6/18</option>
                <option value="6/24">6/24</option>
                <option value="6/36">6/36</option>
                <option value="6/60">6/60</option>
                <option value="6/96">6/96</option>
                <option value="3/60">3/60</option>
                <option value="2/60">2/60</option>
                <option value="1/60">1/60</option>
                <option value="at0019::CF - Count fingers::4">CF</option>
                <option value="at0018::HM - Hand movement::3">HM</option>
                <option value="at0017::PL -  Perception of light::2">PL</option>
                <option value="NPL">NPL</option>
              </select>
            </div>
            <div class="small-6 columns">
              <select ng-model="entry.method">
                <option value="">--</option>
                <option value="at0139::Unaided visual acuity">Unaided</option>
                <option value="at0137::Best corrected visual acuity">Best corrected</option>
                <!-- <option value="Glasses">Glasses</option>
                <option value="Contact lens">Contact lens</option>
                <option value="Pinhole">Pinhole</option>
                <option value="Auto-refraction">Auto-refraction</option>
                <option value="Formal refraction">Formal refraction</option> -->
              </select>
            </div>
            <div class="small-3 columns">
              <a href="" ng-click="removeEntry(key)">Remove</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <button class="button small" ng-click="addEntry()">Add</button>
              <button class="button small" ng-click="saveVisualAcuity()">Save</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <textarea name="left_comments" id="left_comments" cols="30" rows="3">{{event.visualAcuity.leftComments}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <div class="panel">
          <div class="row" ng-repeat="(key, entry) in event.visualAcuity.entries">
            <div class="small-3 columns">
              <select ng-model="entry.right_eye.value">
                <option value="">--</option>
                <option value="6/3">6/3</option>
                <option value="6/4">6/4</option>
                <option value="6/5">6/5</option>
                <option value="6/6">6/6</option>
                <option value="6/9">6/9</option>
                <option value="6/12">6/12</option>
                <option value="6/18">6/18</option>
                <option value="6/24">6/24</option>
                <option value="6/36">6/36</option>
                <option value="6/60">6/60</option>
                <option value="6/96">6/96</option>
                <option value="3/60">3/60</option>
                <option value="2/60">2/60</option>
                <option value="1/60">1/60</option>
                <option value="at0019::CF - Count fingers::4">CF</option>
                <option value="at0018::HM - Hand movement::3">HM</option>
                <option value="at0017::PL -  Perception of light::2">PL</option>
                <option value="NPL">NPL</option>
              </select>
            </div>
            <div class="small-6 columns">
              <select ng-model="entry.method">
                <option value="">--</option>
                <option value="at0139::Unaided visual acuity">Unaided</option>
                <option value="at0137::Best corrected visual acuity">Best corrected</option>
                <!-- <option value="Glasses">Glasses</option>
                <option value="Contact lens">Contact lens</option>
                <option value="Pinhole">Pinhole</option>
                <option value="Auto-refraction">Auto-refraction</option>
                <option value="Formal refraction">Formal refraction</option> -->
              </select>
            </div>
            <div class="small-3 columns">
              <a href="" ng-click="removeEntry(key)">Remove</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <button class="button small" ng-click="addEntry()">Add</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <textarea name="right_comments" id="right_comments" cols="30" rows="3">{{event.visualAcuity.rightComments}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>