.main {
  margin-top: 10px;
}

.row {
  max-width: 85rem;
}

.patientCount {
  padding-bottom: 5px;
  font-style: italic;
}

.patient {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  border-bottom: 1px solid lightgray;

  div {
    height: 50px;
  }

  .MALE {
    width: 55px;
    height: 55px;
    background-color: lightblue;
  }

  .FEMALE {
    width: 55px;
    height: 55px;
    background-color: lightpink;
  }
}

.border-right {
  border-right: 1px solid lightgray;
}

h4 {
  margin-bottom: 20px;
}

.static-label {
  font-weight: bold;
}

.episode-event {
  margin-bottom: 3px !important;
}

.small-text {
  font-size: 75%;
}