<div class="row panel callout radius">
  <div class="small-2 columns">
    {{episode.subSpecialty}}
  </div>
  <div class="small-4 columns">
    {{episode.startDate | date:'MMM dd, yyyy'}} -
    <span ng-show="episode.endDate != ''">{{episode.endDate | date:'MMM dd, yyyy'}}</span>
    <span ng-show="episode.endDate == ''"><em>outstanding</em></span>
  </div>
  <div class="small-2 columns">
    <span class="static-label">Eye: </span>{{episode.eye}}
  </div>
  <div class="small-4 columns">
    <span class="static-label">Diagnosis: </span>{{episode.diagnosis}}
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <h4 class="section-header">Event list</h4>
    <div class="row episode-event" ng-repeat="event in episode.events">
      <div class="small-5 columns">
        <span class="label">{{event.type}}</span>
      </div>
      <div class="small-5 columns end">
        <span class="small-text">{{event.eventDate | date:'MMM dd, yyyy'}}</span>
      </div>
    </div>
  </div>
  <div class="small-9 columns">
    <h4 class="section-header">Event details</h4>
    <h5>Examination</h5>
    <div class="examination-section">Visual Acuity</div>
    <div class="row">
      <div class="small-6 columns">
        <div class="panel">
          <div class="row" ng-repeat="(key, entry) in event.visualAcuity.left">
            <div class="small-3 columns">
              <select ng-model="entry.value">
                <option value="">--</option>
                <option value="6/3">6/3</option>
                <option value="6/4">6/4</option>
                <option value="6/5">6/5</option>
                <option value="6/6">6/6</option>
                <option value="6/9">6/9</option>
                <option value="6/12">6/12</option>
                <option value="6/18">6/18</option>
                <option value="6/24">6/24</option>
                <option value="6/36">6/36</option>
                <option value="6/60">6/60</option>
                <option value="6/96">6/96</option>
                <option value="3/60">3/60</option>
                <option value="2/60">2/60</option>
                <option value="1/60">1/60</option>
                <option value="CF">CF</option>
                <option value="HM" >HM</option>
                <option value="PL" >PL</option>
                <option value="NPL" >NPL</option>
              </select>
            </div>
            <div class="small-6 columns">
              <select ng-model="entry.method">
                <option value="">--</option>
                <option value="Unaided">Unaided</option>
                <option value="Glasses">Glasses</option>
                <option value="Contact lens">Contact lens</option>
                <option value="Pinhole">Pinhole</option>
                <option value="Auto-refraction">Auto-refraction</option>
                <option value="Formal refraction">Formal refraction</option>
              </select>
            </div>
            <div class="small-3 columns">
              <a href="" ng-click="removeLeftEntry(key)">Remove</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <button ng-click="addLeftEntry()">Add</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <textarea name="left_comments" id="left_comments" cols="30" rows="3">{{event.visualAcuity.leftComments}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <div class="panel">
          <div class="row" ng-repeat="(key, entry) in event.visualAcuity.right">
            <div class="small-3 columns">
              <select ng-model="entry.value">
                <option value="">--</option>
                <option value="6/3">6/3</option>
                <option value="6/4">6/4</option>
                <option value="6/5">6/5</option>
                <option value="6/6">6/6</option>
                <option value="6/9">6/9</option>
                <option value="6/12">6/12</option>
                <option value="6/18">6/18</option>
                <option value="6/24">6/24</option>
                <option value="6/36">6/36</option>
                <option value="6/60">6/60</option>
                <option value="6/96">6/96</option>
                <option value="3/60">3/60</option>
                <option value="2/60">2/60</option>
                <option value="1/60">1/60</option>
                <option value="CF">CF</option>
                <option value="HM" >HM</option>
                <option value="PL" >PL</option>
                <option value="NPL" >NPL</option>
              </select>
            </div>
            <div class="small-6 columns">
              <select ng-model="entry.method">
                <option value="">--</option>
                <option value="Unaided">Unaided</option>
                <option value="Glasses">Glasses</option>
                <option value="Contact lens">Contact lens</option>
                <option value="Pinhole">Pinhole</option>
                <option value="Auto-refraction">Auto-refraction</option>
                <option value="Formal refraction">Formal refraction</option>
              </select>
            </div>
            <div class="small-3 columns">
              <a href="" ng-click="removeRightEntry(key)">Remove</a>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <button ng-click="addRightEntry()">Add</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <textarea name="left_comments" id="right_comments" cols="30" rows="3">{{event.visualAcuity.rightComments}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="examination-section">Anterior Segment</div>
    <div class="row">
      <div class="small-6 columns">
        <div class="panel">
          <script type="text/javascript">
var drawingEdit;
// Runs on page load
function init()
{
  // Create a drawing linked to the canvas
  drawingEdit = new ED.Drawing(document.getElementById('canvasEdit'), ED.eye.Left, 'RPS', true, {graphicsPath:'/eyedraw/assets/img/'});
  // Create a controller object for this drawing
  var controller = new eyeDrawController(drawingEdit);
  // Initialise drawing
  drawingEdit.init();
}

// Controller class
function eyeDrawController(_drawing)
{
  // Specify call back function
  this.callBack = callBack;
  // Register controller for notifications
  _drawing.registerForNotifications(this, 'callBack', []);
  // Show doodle controls
  _drawing.showDoodleControls = true;
  // Method called for notification
  function callBack(_messageArray)
  {
    switch (_messageArray['eventName'])
    {
      // Ready notification
      case 'ready':
        _drawing.addDoodle('AntSeg');
        _drawing.deselectDoodles();
        addToReport();
        break;
      case 'doodleAdded':
        addToReport();
        break;
      case 'doodleDeleted':
        addToReport();
        break;
      case 'mouseup':
        addToReport();
        break;
      case 'setParameterWithAnimationComplete':
        addToReport();
        break;
    }
  }
}

function addToReport()
{
  // Get text from the applet and force into string type
  var text = drawingEdit.report();
  // Use a RegEx to remove final comma and space
  text = text.replace(/, +$/, '');
  // Get reference to report textarea
  var repText = document.getElementById('report');
  // Add to existing text in text area
  repText.innerHTML = text;
}
          </script>
          <script type="text/javascript">
init();
          </script>
          <div class="row">
            <div class="small-12 columns">
              <div class="toolbar">
                <button class="ed-button" id="moveToFrontRPS" title="Move to front" onclick="drawingEdit.moveToFront(); return false;"><img src="/eyedraw/assets/img/old/moveToFront.gif"></button>
                <button class="ed-button" id="moveToBackRPS" title="Move to back" onclick="drawingEdit.moveToBack(); return false;"><img src="/eyedraw/assets/img/old/moveToBack.gif"></button>
                <button class="ed-button" id="deleteSelectedDoodleRPS" title="Delete" onclick="drawingEdit.deleteSelectedDoodle(); return false;"><img src="/eyedraw/assets/img/old/deleteSelectedDoodle.gif"></button>
                <button class="ed-button" id="flipVerRPS" title="Flip around vertical axis" onclick="drawingEdit.flipVer(); return false;"><img src="/eyedraw/assets/img/old/flipVer.gif"></button>
                <button class="ed-button" id="flipHorRPS" title="Flip around horizontal axis" onclick="drawingEdit.flipHor(); return false;"><img src="/eyedraw/assets/img/old/flipHor.gif"></button>
                <button class="ed-button" id="lockRPS" title="Lock" onclick="drawingEdit.lock(); return false;"><img src="/eyedraw/assets/img/old/lock.gif"></button>
                <button class="ed-button" id="unlockRPS" title="Unlock" onclick="drawingEdit.unlock(); return false;"><img src="/eyedraw/assets/img/old/unlock.gif"></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="toolbar last">
                <button class="ed-button" title="Freehand drawing" onclick="drawingEdit.addDoodle('Freehand'); return false;">
                  <img src="/eyedraw/assets/img/old/Freehand.gif">
                </button>
                <button class="ed-button" title="Label" onclick="drawingEdit.addDoodle('Label'); return false;">
                  <img src="/eyedraw/assets/img/old/Label.gif">
                </button>
                <button class="ed-button" title="Ciliary Injection" onclick="drawingEdit.addDoodle('CiliaryInjection'); return false;">
                  <img src="/eyedraw/assets/img/old/CiliaryInjection.gif">
                </button>
                <button class="ed-button" title="Corneal Oedema" onclick="drawingEdit.addDoodle('CornealOedema'); return false;">
                  <img src="/eyedraw/assets/img/old/CornealOedema.gif">
                </button>
                <button class="ed-button" title="Keratic Precipitates" onclick="drawingEdit.addDoodle('KeraticPrecipitates'); return false;">
                  <img src="/eyedraw/assets/img/old/KeraticPrecipitates.gif">
                </button>
                <button class="ed-button" title="PI" onclick="drawingEdit.addDoodle('PI'); return false;">
                  <img src="/eyedraw/assets/img/old/PI.gif">
                </button>
                <button class="ed-button" title="Rubeosis" onclick="drawingEdit.addDoodle('Rubeosis'); return false;">
                  <img src="/eyedraw/assets/img/old/Rubeosis.gif">
                </button>
                <button class="ed-button" title="Posterior Synechia" onclick="drawingEdit.addDoodle('PosteriorSynechia'); return false;">
                  <img src="/eyedraw/assets/img/old/PosteriorSynechia.gif">
                </button>
                <button class="ed-button" title="Busacca Nodule" onclick="drawingEdit.addDoodle('BusaccaNodule'); return false;">
                  <img src="/eyedraw/assets/img/old/BusaccaNodule.gif">
                </button>
                <button class="ed-button" title="Koeppe Nodule" onclick="drawingEdit.addDoodle('KoeppeNodule'); return false;">
                  <img src="/eyedraw/assets/img/old/KoeppeNodule.gif">
                </button>
                <button class="ed-button" title="Hyphaema" onclick="drawingEdit.addDoodle('Hyphaema'); return false;">
                  <img src="/eyedraw/assets/img/old/Hyphaema.gif">
                </button>
                <button class="ed-button" title="Hypopyon" onclick="drawingEdit.addDoodle('Hypopyon'); return false;">
                  <img src="/eyedraw/assets/img/old/Hypopyon.gif">
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-8 columns">
              <!-- Canvas element -->
              <canvas id="canvasEdit" class="ed-canvas-edit" width="300" height="300"></canvas>
            </div>
            <div class="small-4 columns">
              <!-- Doodle control panel -->
              <div id="canvasEdit_controls" class="ed-doodle-popup">
                <div>
                  <label for="canvasEdit_pupilSize_control">Pupil size</label>
                  <select id="canvasEdit_pupilSize_control">
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                  </select>
                </div>
                <div>
                  <label for="canvasEdit_pxe_control">PXE</label>
                  <input type="checkbox" id="canvasEdit_pxe_control" checked="checked"/>
                </div>
                <div>
                  <label for="canvasEdit_coloboma_control">Coloboma</label>
                  <input type="checkbox" id="canvasEdit_coloboma_control" checked="checked"/>
                </div>
                <div>
                  <label for="canvasEdit_colour_control">Colour</label>
                  <select id="canvasEdit_colour_control">
                    <option>Blue</option>
                    <option>Brown</option>
                    <option>Gray</option>
                    <option>Green</option>
                  </select>
                </div>
                <div>
                  <label for="canvasEdit_ectropion_control">Ectropion uveae</label>
                  <input type="checkbox" id="canvasEdit_ectropion_control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>Description</strong>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <p class="report" id="report"></p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>Comments</strong>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <textarea name="leftEyeComments" id="leftEyeComments" cols="30" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <div class="panel">
          <script type="text/javascript">
var drawingEdit2;
function init2()
{
  // Create a drawing linked to the canvas
  drawingEdit2 = new ED.Drawing(document.getElementById('canvasEdit2'), ED.eye.Right, 'RPS', true, {graphicsPath:'/eyedraw/assets/img/'});
  // Create a controller object for this drawing
  var controller = new eyeDrawController2(drawingEdit2);
  // Initialise drawing
  drawingEdit2.init();
}

// Controller class
function eyeDrawController2(_drawing)
{
  // Specify call back function
  this.callBack = callBack;
  // Register controller for notifications
  _drawing.registerForNotifications(this, 'callBack', []);
  // Show doodle controls
  _drawing.showDoodleControls = true;
  // Method called for notification
  function callBack(_messageArray)
  {
    switch (_messageArray['eventName'])
    {
      // Ready notification
      case 'ready':
        _drawing.addDoodle('AntSeg');
        _drawing.deselectDoodles();
        addToReport2();
        break;
      case 'doodleAdded':
        addToReport2();
        break;
      case 'doodleDeleted':
        addToReport2();
        break;
      case 'mouseup':
        //console.log('mouseUp');
        addToReport2();
        break;
      case 'setParameterWithAnimationComplete':
        //console.log('setParameterWithAnimationComplete');
        addToReport2();
        break;
    }
  }
}

function addToReport2()
{
  // Get text from the applet and force into string type
  var text = drawingEdit2.report();
  // Use a RegEx to remove final comma and space
  text = text.replace(/, +$/, '');
  // Get reference to report textarea
  var repText = document.getElementById('report2');
  // Add to existing text in text area
  repText.innerHTML = text;
}
          </script>
          <script type="text/javascript">
            init2();
          </script>
          <div class="row">
            <div class="small-12 columns">
              <div class="toolbar">
                <button class="ed-button" id="moveToFrontRPS2" title="Move to front" onclick="drawingEdit2.moveToFront(); return false;"><img src="/eyedraw/assets/img/old/moveToFront.gif"></button>
                <button class="ed-button" id="moveToBackRPS2" title="Move to back" onclick="drawingEdit2.moveToBack(); return false;"><img src="/eyedraw/assets/img/old/moveToBack.gif"></button>
                <button class="ed-button" id="deleteSelectedDoodleRPS2" title="Delete" onclick="drawingEdit2.deleteSelectedDoodle(); return false;"><img src="/eyedraw/assets/img/old/deleteSelectedDoodle.gif"></button>
                <button class="ed-button" id="flipVerRPS2" title="Flip around vertical axis" onclick="drawingEdit2.flipVer(); return false;"><img src="/eyedraw/assets/img/old/flipVer.gif"></button>
                <button class="ed-button" id="flipHorRPS2" title="Flip around horizontal axis" onclick="drawingEdit2.flipHor(); return false;"><img src="/eyedraw/assets/img/old/flipHor.gif"></button>
                <button class="ed-button" id="lockRPS2" title="Lock" onclick="drawingEdit2.lock(); return false;"><img src="/eyedraw/assets/img/old/lock.gif"></button>
                <button class="ed-button" id="unlockRPS2" title="Unlock" onclick="drawingEdit2.unlock(); return false;"><img src="/eyedraw/assets/img/old/unlock.gif"></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="toolbar last">
                <button class="ed-button" title="Freehand drawing" onclick="drawingEdit2.addDoodle('Freehand'); return false;">
                  <img src="/eyedraw/assets/img/old/Freehand.gif">
                </button>
                <button class="ed-button" title="Label" onclick="drawingEdit2.addDoodle('Label'); return false;">
                  <img src="/eyedraw/assets/img/old/Label.gif">
                </button>
                <button class="ed-button" title="Ciliary Injection" onclick="drawingEdit2.addDoodle('CiliaryInjection'); return false;">
                  <img src="/eyedraw/assets/img/old/CiliaryInjection.gif">
                </button>
                <button class="ed-button" title="Corneal Oedema" onclick="drawingEdit2.addDoodle('CornealOedema'); return false;">
                  <img src="/eyedraw/assets/img/old/CornealOedema.gif">
                </button>
                <button class="ed-button" title="Keratic Precipitates" onclick="drawingEdit2.addDoodle('KeraticPrecipitates'); return false;">
                  <img src="/eyedraw/assets/img/old/KeraticPrecipitates.gif">
                </button>
                <button class="ed-button" title="PI" onclick="drawingEdit2.addDoodle('PI'); return false;">
                  <img src="/eyedraw/assets/img/old/PI.gif">
                </button>
                <button class="ed-button" title="Rubeosis" onclick="drawingEdit2.addDoodle('Rubeosis'); return false;">
                  <img src="/eyedraw/assets/img/old/Rubeosis.gif">
                </button>
                <button class="ed-button" title="Posterior Synechia" onclick="drawingEdit2.addDoodle('PosteriorSynechia'); return false;">
                  <img src="/eyedraw/assets/img/old/PosteriorSynechia.gif">
                </button>
                <button class="ed-button" title="Busacca Nodule" onclick="drawingEdit2.addDoodle('BusaccaNodule'); return false;">
                  <img src="/eyedraw/assets/img/old/BusaccaNodule.gif">
                </button>
                <button class="ed-button" title="Koeppe Nodule" onclick="drawingEdit2.addDoodle('KoeppeNodule'); return false;">
                  <img src="/eyedraw/assets/img/old/KoeppeNodule.gif">
                </button>
                <button class="ed-button" title="Hyphaema" onclick="drawingEdit2.addDoodle('Hyphaema'); return false;">
                  <img src="/eyedraw/assets/img/old/Hyphaema.gif">
                </button>
                <button class="ed-button" title="Hypopyon" onclick="drawingEdit2.addDoodle('Hypopyon'); return false;">
                  <img src="/eyedraw/assets/img/old/Hypopyon.gif">
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-8 columns">
              <!-- Canvas element -->
              <canvas id="canvasEdit2" class="ed-canvas-edit" width="300" height="300"></canvas>
            </div>
            <div class="small-4 columns">
              <!-- Doodle control panel -->
              <div id="canvasEdit2_controls" class="ed-doodle-popup">
                <div>
                  <label for="canvasEdit2_pupilSize_control">Pupil size</label>
                  <select id="canvasEdit2_pupilSize_control">
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                  </select>
                </div>
                <div>
                  <label for="canvasEdit2_pxe_control">PXE</label>
                  <input type="checkbox" id="canvasEdit2_pxe_control" checked="checked"/>
                </div>
                <div>
                  <label for="canvasEdit2_coloboma_control">Coloboma</label>
                  <input type="checkbox" id="canvasEdit2_coloboma_control" checked="checked"/>
                </div>
                <div>
                  <label for="canvasEdit2_colour_control">Colour</label>
                  <select id="canvasEdit2_colour_control">
                    <option>Blue</option>
                    <option>Brown</option>
                    <option>Gray</option>
                    <option>Green</option>
                  </select>
                </div>
                <div>
                  <label for="canvasEdit2_ectropion_control">Ectropion uveae</label>
                  <input type="checkbox" id="canvasEdit2_ectropion_control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>Description</strong>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <p class="report" id="report2"></p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <strong>Comments</strong>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <textarea name="rightEyeComments" id="rightEyeComments" cols="30" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
