<div class="row panel callout radius">
  <div class="small-2 columns">
    <strong>Episode:</strong> {{episode.subSpecialty}}
  </div>
  <div class="small-4 columns">
    {{episode.startDate | date:'MMM dd, yyyy'}} -
    <span ng-show="episode.endDate != ''">{{episode.endDate | date:'MMM dd, yyyy'}}</span>
    <span ng-show="episode.endDate == ''"><em>outstanding</em></span>
  </div>
  <div class="small-2 columns">
    <span class="static-label">Eye: </span>{{episode.eye}}
  </div>
  <div class="small-4 columns">
    <span class="static-label">Diagnosis: </span>{{episode.diagnosis}}
  </div>
</div>